.streak-block {
  position: relative;
  width: calc(var(--streak-grid-item-max-width) / 2);
  color: rgb(255, 255, 255);

  .container {
    border-radius: 16px;
    display: flex;
    overflow: hidden;
    padding: 10px 5px;

    background-color: rgb(255, 200, 0);
    background-image: url("/src/assets/streak-block-background.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: rgb(255, 200, 0);
    border-style: solid solid none;

    &.fire-animation {
      animation: burn 1.5s linear infinite alternate;
    }

    .icon {
      border-style: none;
    }

    .star-position-a {
      position: absolute;
      bottom: 8px;
      height: 21px;
      left: 18px;
      width: 21px;
    }

    .star-position-b {
      position: absolute;
      height: 27px;
      right: 12px;
      top: 12px;
      width: 27px;
    }

    .flame-position {
      align-self: start;
      margin-left: 10px;
      height: 40px;
      width: 40px;
    }

    .streak-number-wrapper {
      align-self: center;
      flex: 1 0 auto;
      text-align: left;
    }
  }

  .inactive {
    filter: grayscale(100%);
  }
}

@keyframes burn {
  from {
    box-shadow:
      -0.1em 0 0.3em rgb(255, 252, 200),
      0.1em -0.1em 0.3em rgb(255, 200, 0),
      -0.2em -0.2em 0.4em rgb(255, 174, 52),
      0.2em -0.3em 0.3em rgb(236, 118, 12),
      -0.2em -0.4em 0.4em rgb(205, 70, 6),
      0.1em -0.5em 0.7em rgb(151, 55, 22),
      0.1em -0.7em 0.7em rgb(69, 27, 14);
  }
  45% {
    box-shadow:
      0.1em -0.2em 0.5em rgb(255, 252, 200),
      0.15em 0 0.4em rgb(255, 200, 0),
      -0.1em -0.25em 0.5em rgb(255, 174, 52),
      0.15em -0.45em 0.5em rgb(236, 118, 12),
      -0.1em -0.5em 0.6em rgb(205, 70, 6),
      0 -0.8em 0.6em rgb(151, 55, 22),
      0.2em -1em 0.8em rgb(69, 27, 14);
  }
  70% {
    box-shadow:
      -0.1em 0 0.3em rgb(255, 252, 200),
      0.1em -0.1em 0.3em rgb(255, 200, 0),
      -0.2em -0.2em 0.6em rgb(255, 174, 52),
      0.2em -0.3em 0.4em rgb(236, 118, 12),
      -0.2em -0.4em 0.7em rgb(205, 70, 6),
      0.1em -0.5em 0.7em rgb(151, 55, 22),
      0.1em -0.7em 0.9em rgb(69, 27, 14);
  }
  to {
    box-shadow:
      -0.1em -0.2em 0.6em rgb(255, 252, 200),
      -0.15em 0 0.6em rgb(255, 200, 0),
      0.1em -0.25em 0.6em rgb(255, 174, 52),
      -0.15em -0.45em 0.5em rgb(236, 118, 12),
      0.1em -0.5em 0.6em rgb(205, 70, 6),
      0 -0.8em 0.6em rgb(151, 55, 22),
      -0.2em -1em 0.8em rgb(69, 27, 14);
  }
}
