.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;

  // Configure the background image based on the current tier, if applicable
  background-repeat: no-repeat;
  background-size: auto calc(var(--streak-grid-item-max-width) / 8);
  background-position: center top;

  .avatar {
    width: calc(var(--streak-grid-item-max-width) / 2);
    border-radius: 16px;
  }
}
